<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maptest">

    <!-- 인터넷권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 위치추적 권한 설정 (GPS이용 상세위치파악 권한 / 기지국,와이파이 이용 개략적위치파악 권한) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 전화걸기 권한 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <!-- 스크린캡쳐 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 알람 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 진동 권한 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/pack1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pack1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.maptest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>
        <!-- 네이버 지도 API 메타데이터 설정 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="y0189tgx11"
            ></meta-data>
        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로딩화면 액티비티 -->
        <activity android:name=".Activity.Loading_Activity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

        </activity>
        <!-- 네이버지도 액티비티 -->
        <activity android:name=".Activity.FragMent_Three.Map.MapNaver"></activity>
        <!-- QR 바코드 액티비티 -->
        <activity android:name=".Activity.FragMent_Two.QRCord.QRCodeActivity"></activity>

        <!-- 알람 처리 Receiver -->
        <receiver android:name=".AlarmPackage.AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.alarmtestat.ALRAM_START" />
            </intent-filter>
        </receiver>
        <!-- 부팅시 알람 재설정 Receiver -->
        <receiver android:name=".AlarmPackage.BootReceiver"
            android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>