<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maptest">

    <!-- 인터넷권한 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- 위치추적 권한 설정 (GPS이용 상세위치파악 권한 / 기지국,와이파이 이용 개략적위치파악 권한) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <!-- 전화걸기 권한 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pack1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pack1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 네이버 지도 API 메타데이터 설정 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="y0189tgx11"
            ></meta-data>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <!-- 스크린방향 세로고정 (portrait), 가로(landscape) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로딩화면 액티비티 -->
        <activity android:name=".Loading" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name=".MapNaver"></activity>
    </application>

</manifest>